* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	width: 100%;
}

a {
	color: #B2FFF1;
}

p {
	white-space: initial;
	text-align: justify;
}

body {
	align-items: stretch;
	background-color: #1F1F1F;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: inherit;
	width: inherit;
}

.header-container {
	align-items: center;
	background-color: #2A2A2A;
	display: flex;
	flex: 1 0 80px;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 80px;
	padding: 10px;
}

.content-container {
	align-items: stretch;
	display: flex;
	flex: 1 0 auto;
	flex-direction: row;
	justify-content: space-between;
}

.raw-container {
	align-items: stretch;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	max-width: 50%;
}

.rendered-container {
	align-items: stretch;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	max-width: 50%;
	word-wrap: break-word;
}

.editor {
	background-color: #3B3B3B;
	border: 1px solid #3C3C3C;
	color: white;
	font-family: 'Courier New';
	font-size: 14px;
	height: 100%;
	padding: 10px;
	margin: 4px;
}

.rendered {
	background-color: #4C4C4C;
	border: 1px solid #5D5D5D;
	height: 100%;
	margin: 4px;
	padding: 4px;
}

/** --- **/

.tag-container {
	border: 1px solid #4C4C4C;
	box-shadow: 1px 1px 4px #010101;
	margin: 0px 4px 20px 4px;
	padding: 10px;
}

.tag-container.active {
	background-color: #2D2D2D;
}

.tag-container.active > div > pre > code {
	background-color: #2D2D2D;
}

.tag-title {
	text-align: center;
	text-shadow: 1px 1px 3px black;
	border-bottom: 1px solid #5e5e5e;
	font-size: 22px;
	padding-bottom: 5px;
}

.schedule-bell {
	height: 16px;
	margin: 2px;
	vertical-align: middle;
	width: 16px;
}

.schedule-time-N {
	color: #FF5959;
}

.schedule-time-A {
	color: #A5A5A5;
}

.schedule-time-B {
	color: #7CD67C;
}

/** -- OVERRIDE -- **/

.hljs {
	background-color: #4C4C4C;
}