* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	width: 100%;
}

p {
	white-space: initial;
	text-align: justify;
	text-indent: 22px;
}

body {
	align-items: stretch;
	background-color: #1F1F1F;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: inherit;
	width: inherit;
}

.header-container {
	align-items: center;
	background-color: #2A2A2A;
	display: flex;
	flex: 1 0 80px;
	flex-direction: row;
	justify-content: flex-start;
	max-height: 80px;
	padding: 10px;
}

.content-container {
	align-items: stretch;
	display: flex;
	flex: 1 0 auto;
	flex-direction: row;
	justify-content: center;
}

.raw-container {
	align-items: stretch;
	display: flex;
	flex: 1 0 50%;
	flex-direction: column;
	max-width: 50%;
}

.rendered-container {
	align-items: stretch;
	display: flex;
	flex: 1 0 50%;
	flex-direction: column;
	max-width: 50%;
	word-wrap: break-word;
}

.editor {
	background-color: #3B3B3B;
	border: 1px solid #3C3C3C;
	color: white;
	font-family: 'Courier New';
	font-size: 14px;
	height: 100%;
	padding: 10px;
	margin: 4px;
}

.rendered {
	background-color: #4C4C4C;
	border: 1px solid #5D5D5D;
	height: 100%;
	margin: 4px;
	padding: 4px;
}

/** --- **/

.tag-container {
	border: 1px solid #4C4C4C;
	box-shadow: 1px 1px 4px #010101;
	margin: 0px 4px 20px 4px;
	padding: 10px;
}