/* FONTS */

@font-face {
	font-family: "Cascadia";
	src: url("/fonts/cascadia.ttf");
}

/* FONTS */

:root {
	--black: #000000;
	--white: #FFFFFF;
	--blue: cornflowerblue;
	--window-level-1-topLeft: rgb(223, 216, 223);
	--window-level-1-rightBottom: rgb(0, 0, 0);
	--window-level-2-topLeft: rgb(255, 248, 255);
	--window-level-2-rightBottom: rgb(127, 120, 127);
	--window-level-3-background: rgb(191, 184, 191);
	--window-level-3-bottom: rgb(127, 120, 127);
	--window-level-4-background: rgb(0, 0, 127);
	--menu-item-top: rgb(255, 255, 255);
	--menu-item-bottom: rgb(125, 125, 125);
	--menu-height: 36px;
}

[v-cloak] > * {
	display:none;
}

[v-cloak]::before {
	content: "Loading...";
}

html {
	border: 0px;
	height: 100%;
	margin: 0vh 0vw;
	overflow-y: hidden;
	padding: 0vh 0vw;
	width: 100%;
}

body {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	background-color: var(--black);
	border: inherit;
	height: inherit;
	margin: inherit;
	padding: inherit;
	width: inherit;
}

a {
	color: goldenrod !important;
}

a:hover {
	color: gold !important;
}

p {
	margin-block-start: 2px !important;
	margin-block-end: 2px !important;
	word-break: break-all;
}

.d-dekstop {
    margin-left: 3px;
	max-height: 12px;
    object-fit: contain;
}

.d-window-level-1 {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex: 1 0 100vh;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	border-bottom: 1px solid var(--window-level-1-rightBottom);
	border-top: 1px solid var(--window-level-1-topLeft);
	border-left: 1px solid var(--window-level-1-topLeft);
	border-right: 1px solid var(--window-level-1-rightBottom);
}

.d-window-level-2 {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex: 1 0 100vh;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	border-bottom: 1px solid var(--window-level-2-rightBottom);
	border-top: 1px solid var(--window-level-2-topLeft);
	border-left: 1px solid var(--window-level-2-topLeft);
	border-right: 1px solid var(--window-level-2-rightBottom);
}

.d-window-level-3 {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	background-color: var(--window-level-3-background);
	border-bottom: 1px solid var(--window-level-3-bottom);
	padding: 0px;
}

.d-window-level-4 { /* TITLE */
	/** FLEX **/
	align-self: stretch;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	background-color: var(--window-level-4-background);
	margin: 0px 2px;
	padding: 1px 6px;
}

.d-window-level-5 { /* MENU */
	/** FLEX **/
	align-self: stretch;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	margin: 0px 2px;
	/*max-height: calc(var(--menu-height) / 2);
	min-height: calc(var(--menu-height) / 2);*/
	padding: 2px 6px;
	position: relative;
}

.d-window-level-6 {
	/** FLEX **/
	align-self: stretch;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	margin: 1px 2px 2px 1px;
	/*max-height: calc(var(--menu-height) / 2);
	min-height: calc(var(--menu-height) / 2);*/
	padding: 2px 6px;
	position: relative;
}

.d-window-level-6-hover {
	/** FLEX **/
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	background-color: var(--window-level-3-background);
	border-bottom: 1px solid var(--window-level-2-rightBottom);
	border-top: 1px solid var(--window-level-2-topLeft);
	border-left: 1px solid var(--window-level-2-topLeft);
	border-right: 1px solid var(--window-level-2-rightBottom);
	color: var(--black);
	left: 74px;
	height: auto;
	padding: 6px 0px;
	position: absolute;
	top: 28px;
	width: 60vh;
}

.d-window-separator {
	align-self: stretch;
	border-bottom: 1px solid var(--window-level-2-topLeft);
	border-top: 1px solid var(--window-level-2-rightBottom);
	margin: 2px 2px;
}

.d-window-input {
	border-bottom: 1px solid var(--window-level-2-topLeft);
	border-top: 1px solid var(--window-level-2-rightBottom);
	border-left: 1px solid var(--window-level-2-rightBottom);
	border-right: 1px solid var(--window-level-2-topLeft);
	padding: 2px;
	width: 50vh;
}

.d-window-level-6-item {
	color: var(--black);
	font-family: 'Cascadia';
	font-size: 12px;
	margin: 0px 4px;
}

.d-window-level-6-item:hover {
	color: var(--window-level-4-background);
	cursor: pointer;
}

.d-window-level-6-item-separator {
	align-self: stretch;
	border-bottom: 1px solid var(--window-level-2-topLeft);
	border-top: 1px solid var(--window-level-2-rightBottom);
	margin: 3px 0px;
}

.d-window-title {
	display: inline-block;
	color: var(--white);
	font-family: 'Cascadia';
	font-size: 12px;
	margin: 3px 4px 2px 4px;
}

.d-content-container {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: row;
	flex: 1 0 calc(100vh - var(--menu-height));
	flex-wrap: nowrap;
	justify-content: center;
	/** FLEX **/
	background-color: #101010;
	color: white !important;
	font-family: 'Cascadia' !important;
	max-height: calc(100vh - var(--menu-height));
}

.d-content-input {
	/** FLEX **/
	align-self: stretch;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: center;
	/** FLEX **/
	background-color: #3B3B3B;
	border: 1px solid #3C3C3C;
	width: calc(50% - 3.5px);
}

.d-content-slider {
	align-self: stretch;
	flex: 0 1 auto;
	cursor: col-resize;
	border-left: 1.5px solid #808080;
	border-right: 1.5px solid #505050;
}

.d-content-view {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	background-color: #4C4C4C;
	border: 1px solid #5D5D5D;
	overflow-y: scroll;
	max-height: calc(100vh - var(--menu-height));
	width: calc(50% - 3.5px);
}

.d-content-spacer {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	justify-content: flex-start;
	/** FLEX **/
	margin: 6px;
}

.d-input {
	border: unset;
	background-color: unset;
	color: var(--white);
	font-family: 'Cascadia';
	font-size: 14px;
	overflow-y: scroll;
}

.d-input:focus {
	-webkit-box-shadow: none;
	border-color: inherit;
	box-shadow: none;
	outline: none;
}

.d-menu {
	/** FLEX **/
	align-self: stretch;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/** FLEX **/
	color: var(--black);
	font-family: 'Cascadia';
	font-size: 12px;
	margin-right: 12px;
	padding: 0px 3px;
	position: relative;
	text-decoration: none;
}

.d-menu:hover {
	color: var(--window-level-4-background);
	cursor: pointer;
	text-decoration: underline;
}

.d-menu > .d-menu-content {
	/** FLEX **/
	align-self: stretch;
	align-items: stretch;
	display: none;
	flex-direction: column;
	flex: 1 0 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/** FLEX **/
	background-color: var(--window-level-3-background);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	left: 0px;
	min-width: 300px;
	position: absolute;
	top: 19px;
	z-index: 1;
	
}

.d-menu-content > span {
	border-top: 1px solid var(--menu-item-top);
	border-bottom: 1px solid var(--menu-item-bottom);
	color: var(--black);
	margin: 0px 2px;
	padding: 12px 16px;
}

.d-menu-content > span:first-child {
	border-top: unset;
}

.d-menu-content > span:last-child {
	border-bottom: unset;
}

.d-menu:hover > .d-menu-content {
	display: flex;
}

.d-menu:hover > .d-menu-content > span:hover {
	color: var(--window-level-4-background);
	text-decoration: underline;
}

.d-websocket-indicator {
	border-radius: 5px;
	display: inline-block;
	height: 10px;
	width: 10px;
}

.d-websocket-indicator-connected {
	background-color: green;
}

.d-websocket-indicator-disconnected {
	background-color: red;
}

.d-editor-expanded {
	flex: 1 0 auto;
	margin-left: 25px;
}

.d-editor-fit {
	height: calc(100vh - 95px);
	margin-left: 25px;
}

code::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #5E5E5E;
	border-radius: 10px;
}

code::-webkit-scrollbar {
	width: 12px;
}

code::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
	border-radius: 10px;
}

.tag-container {
	font-size: 13px;
	margin: 0px 4px 20px 4px;
	padding: 10px;
}

.tag-content {
	margin-top: 10px;
}

.tag-container.active {
	background-color: #2D2D2D;
}

.tag-container.active > div > pre > code {
	background-color: #2D2D2D;
}

.tag-title {
	color: var(--blue);
	text-align: center;
	text-shadow: 1px 1px 3px black;
	border-bottom: 1px solid #5e5e5e;
	font-size: 22px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.schedule-bell {
	height: 16px;
	margin: 2px;
	vertical-align: middle;
	width: 16px;
}

.schedule-time-N {
	color: #FF5959;
}

.schedule-time-A {
	color: #A5A5A5;
}

.schedule-time-B {
	color: #7CD67C;
}

/** -- OVERRIDE -- **/

.hljs {
	background-color: #4C4C4C;
}

#toast-container {
	font-family: 'Cascadia' !important;
	font-size: 14px !important;
}
